.main {
    display: grid;
    grid-template-columns: repeat(3, 0.45fr);
    gap: 30px;
    background-color: lightgray;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

@media screen and (max-width: 668px) {
    .header {
        flex-direction: column;
        padding: 10px;
    }

    .main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}